.spinner-container {
  color: red;
  width: 100%;
  max-width: 16.6666666667%;  
}

.vehicle-card {
  border-color: rgba(var(--v-border-color), var(--v-border-opacity));
  border-style: solid;

  .btn-menu {
    color: grey !important;
  }

  .v-toolbar__append {
    margin-right: 5px !important;
  }

  .v-table  {
       tr {
        td {
          font-size: 0.8rem;
          height: 30px !important;
          padding-left:10px !important;
          font-size: 0.7rem;
        }
        .label {
            padding-right: 0px;
            width: 70px;
            padding-left: 5px;
        }
        .price {
          font-weight: bold;
          color: rgb(var(--v-theme-primary)) !important;
        }
        
        .name {
          font-size: 0.9rem;
        }
        .chip {

        }
          
       }
  }
  
}


