@font-face {
  font-family : 'Khmer OS Siemreap';
  src: url('~@/assets/fonts/KhmerOSsiemreap.ttf');
}

@font-face {
  font-family : 'Khmer OS System';
  src: url('~@/assets/fonts/KhmerOSsys.ttf');
}

html {
  font-family: $font-family, 'Khmer OS Siemreap';
  overflow-y: hidden;
  /* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px; 
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: #000;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: #88888bb3;
    border-radius: 16px;
    width: 6px;
    border: 0px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display:none;
}
  .v-application {
    [class*="text-"] {
      font-family: $font-family, sans-serif, 'Khmer OS Siemreap';
    }
    font-family: $font-family, sans-serif, 'Khmer OS Siemreap';

    .font-kh-os-siemreap {
      font-family: 'Khmer OS Siemreap' !important; 
    }

    .table-column-header {
      font-size: 15px !important;
    }

    .user-role-chip {
      
    }

    .btn-action {
      color: #fff;
      font-size: 15px !important;
      font-family: 'Khmer OS Siemreap' !important; 
    }
    
  }
  .elevation-10 {
    box-shadow: $box-shadow !important;
  }
  .elevation-5 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0) !important;
  }

  .v-app-bar.v-toolbar {
    background: rgb(var(--v-theme-surface));
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
  }

  .v-navigation-drawer {
    background: $v-theme-background !important;
    .v-list {

      .v-list-item--active {
        color: rgb(var(--v-theme-primary)) !important;
      }

      .v-list-item {
        height: 45px;
        min-height: 38px;
        .v-list-item-title {
          font-size: 1rem !important;
        }

        .v-list-item__prepend {

          .v-list-item__spacer {
            width: 5px !important;
          }

        } 
      }

    }

  }


  .v-card-text {
    padding: 20px 30px 30px;
  }
  .v-card-header {
    padding: 30px 30px 0.625rem;
  }
  .v-card-actions {
    padding: 0.625rem 30px 30px;
  }
  .v-card {
    background: $v-theme-background !important;
    border-radius: $border-radius;
    width: 100%;
  }

  .v-btn {
    text-transform: capitalize;
    letter-spacing: $btn-letter-spacing;
  }
  .v-btn-group .v-btn {
    height: inherit !important;
  }

  .v-navigation-drawer__scrim.fade-transition-leave-to {
    display: none;
  }

  .theme-carousel .v-carousel__progress {
    position: absolute;
  }
  .v-theme--light,
  .v-theme--dark {
    --v-theme-on-warning: 255, 255, 255;
    --v-theme-on-primary: 255, 255, 255;
  }
  .v-card.w-auto {
    width: auto !important;
  }

}
