.role-chip {
  color: white !important;
}

.doc-list {

  .v-card-text {
    padding: 0px;
  }

  .v-list-item__prepend {
    width: 40px !important;
  }

  .title {
    padding-top: 10px;
    padding-bottom: 5px;
    h1 {
      font-family: "Khmer OS Siemreap" !important;
      font-weight: 200;
      font-size: 18px;
    }
  }
  
}



